version: '3.8'

services: 
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: postgres
      DB_NAME: database
  
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    environment:
       DB_HOST: db
       DB_USER: user
       DB_PASSWORD: password
       DB_NAME: mydb
    depends_on:
      - db
  frontend:
    build: ./frontend
    ports:
      - "3000:80"

